<p class="alert alert-success">
    Welcome to Admin Console!
</p>

<div class="row">
    <div class="col col-sm-6">

        <h4>Login History</h4>

        <div id="login-history"></div>
    </div>
    <div class="col col-sm-6">
        <h4>Recently Posts</h4>

        <div id="recently-posts"></div>
    </div>
</div>