{{#each contents}}
    <a class="list-group-item">
        <h4 class="list-group-item-heading">{{loginDate}} {{username}}</h4>

        <p class="list-group-item-text">
            Agent: {{loginAgent}}<br>
            Host:  {{loginHost}}
        </p>
    </a>
{{/each}}