<p>
    <button id="btn-refresh-reports" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh
    </button>
</p>

<h3>Access Logs</h3>

<table id="accesslog-table" class="table table-striped table-bordered table-condensed dynatable">
    <thead>
    <tr>
        <th>Access Date</th>
        <th>Method</th>
        <th>URI</th>
        <th>Query</th>
        <th>Check API</th>
        <th>Remote Address</th>
        <th>User Agent</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<h3>Access Logs Report</h3>
<table id="accesslog-report-table" class="table table-striped table-bordered table-condensed dynatable">
    <thead>
    <tr>
        <th>URI</th>
        <th>Check API</th>
        <th>Count</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>