log
target
.settings
.classpath
.project
.springBeans
src/main/webapp/upload/*
mecab-ipadic*
*~
.git
.idea
.DS_Store
entry.json
gc.log*
.extract
am.ik.categolj2.domain.model.Entry
*.iml
dist
node
node_modules
bower_components