<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<logger name="org.terasoluna.gfw.common.exception.ExceptionLogger.Monitoring" level="ERROR"-->
            <!--additivity="false">-->
        <!--<appender-ref ref="MONITORING_LOG_FILE"/>-->
    <!--</logger>-->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqltiming" level="${log.sql:-DEBUG}"/>
    <logger name="jdbc.resultsettable" level="${log.sql.result:-ERROR}"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.terasoluna.gfw.web.logging.TraceLoggingInterceptor" level="${log.verbose:-TRACE}"/>
    <logger name="am.ik.categolj2.core.web.logging.TraceRequestLoggingFilter" level="${log.verbose:-TRACE}"/>
    <logger name="org.springframework.data.auditing" level="debug"/>
    <logger name="com.hazelcast" level="${log.verbose:-INFO}"/>
    <logger name="am.ik.categolj2.App" level="INFO"/>
    <logger name="org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter" level="INFO"/>
</configuration>