<td>
    <small>{{name}}</small>
</td>
<td class="text-center">
    <button class="logger-trace btn btn-default btn-xs">TRACE</button>
    <button class="logger-debug btn btn-default btn-xs">DEBUG</button>
    <button class="logger-info btn btn-default btn-xs">INFO</button>
    <button class="logger-warn btn btn-default btn-xs">WARN</button>
    <button class="logger-error btn btn-default btn-xs">ERROR</button>
</td>
