<table class="table table-striped table-bordered table-condensed editable-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Label</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>