<!DOCTYPE logback>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/projectName-application.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/projectName-application-%d{yyyyMMdd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tthread:%thread\tX-Track:%X{X-Track}\tlevel:%-5level\tlogger:%-48logger{48}\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <appender name="MONITORING_LOG_FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/projectName-monitoring.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/projectName-monitoring-%d{yyyyMMdd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern><![CDATA[date:%d{yyyy-MM-dd HH:mm:ss}\tX-Track:%X{X-Track}\tlevel:%-5level\tmessage:%msg%n]]></pattern>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="am.ik.categolj2">
        <level value="warn" />
    </logger>

    <!-- TERASOLUNA -->
    <logger name="org.terasoluna.gfw">
        <level value="warn" />
    </logger>
    <logger name="org.terasoluna.gfw.web.logging.TraceLoggingInterceptor">
        <level value="trace" />
    </logger>
    <logger name="org.terasoluna.gfw.common.exception.ExceptionLogger">
        <level value="info" />
    </logger>
    <logger
        name="org.terasoluna.gfw.common.exception.ExceptionLogger.Monitoring"
        additivity="false">
        <level value="error" />
        <appender-ref ref="MONITORING_LOG_FILE" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.security">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web.servlet">
        <level value="info" />
    </logger>

    <logger name="org.springframework.data.auditing">
        <level value="debug" />
    </logger>

    <!-- <logger name="org.hibernate.SQL"> -->
    <!-- <level value="debug" /> -->
    <!-- </logger> -->
    <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder"> -->
    <!-- <level value="trace" /> -->
    <!-- </logger> -->

    <logger name="org.hibernate.engine.transaction">
        <level value="warn" />
    </logger>

    <!--<logger name="org.hibernate.search">-->
        <!--<level value="debug" />-->
    <!--</logger>-->

    <logger name="jdbc">
        <level value="off" />
    </logger>
    <logger name="jdbc.sqltiming">
        <level value="error" />
    </logger>
    <logger name="jdbc.resultsettable">
        <level value="error" />
    </logger>
    <!--<logger name="jdbc.resultsettable">-->
        <!--<level value="trace" />-->
    <!--</logger>-->
    <!-- <logger name="org.dozer.DozerBeanMapper"> -->
    <!-- <level value="trace" /> -->
    <!-- </logger> -->
    <root level="warn">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </root>

</configuration>
