<div id="{{tab}}" class="tab-pane">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div id="alert-panel" class="alert alert-danger hidden" style="margin: 10px;">
            <button type="button" class="close">&times;</button>
            <p></p>
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>