<div class="row">
    <div class="col col-sm-offset-1 col-sm-3">
        <div class="form-group">
            <input type="search" class="form-control" id="keyword" placeholder="keyword">
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="col col-sm-8">
        <button id="search-by-keyword" type="submit" class="btn btn-primary disabled">Search</button>
    </div>
</div>
<div class="row">
    <div class="col col-sm-12">
        <table id="amazon-search-result" class="table table-striped table-bordered table-condensed hidden">
            <thead>
            <tr>
                <th>title</th>
                <th>image</th>
                <th>publication date</th>
                <th>authors</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>