<div class="row">
    <div class="col col-sm-4">
        <div class="form-group">
            <input type="search" class="form-control" id="keyword" placeholder="keyword">
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="col col-sm-8">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
<div class="row">
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
    </div>
</div>