<div class="btn-group">
    <a href="#entries/form"
       class="btn btn-default"><span
            class="glyphicon glyphicon-list"></span> 作成</a> <a
        id="btn-show-entry-search-form" class="btn btn-default"><span
        class="glyphicon glyphicon-search"></span> 検索</a>
</div>
<div id="entry-search" style="display: none">
    <hr>
    <form id="entry-search-form" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="keyword">Keyword</label>
            <input type="search" class="form-control" id="keyword" placeholder="Enter keyword">
        </div>
        <a id="btn-entry-search" class="btn btn-default">Search</a>
    </form>
</div>
<hr>
