<form id="entryForm" class="form-horizontal">
    <fieldset>
        {{#if create}}
            <legend>Create a new entry</legend>
        {{/if}}
        {{#if update}}
            <legend>Update "{{title}}"</legend>
        {{/if}}
        <div class="form-group">
            <label for="title" class="col col-sm-2 control-label">Title:</label>

            <div class="col col-sm-10">
                <input id="title" name="title" class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="categoryString" class="col col-sm-2 control-label">Category:</label>

            <div class="col col-sm-10">
                <input id="categoryString" name="categoryString" class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="contents" class="col col-sm-2 control-label">Contents:
                <br>
                <a id="btn-entry-preview" class="btn btn-info btn-xs">Preview</a></label>

            <div class="col col-sm-10">
                <textarea id="contents" name="contents" class="form-control" rows="10"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="format" class="col col-sm-2 control-label">Format:</label>

            <div class="col col-sm-10">
                <select id="format" name="format" class="form-control">
                    <option value="md">markdown</option>
                    <option value="html">html</option>
                    <option value="rst">rst</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="format" class="col col-sm-2 control-label">Options:</label>

            <div class="col col-sm-10">
                <div class="checkbox">
                    <label>
                        <input id="published" name="published" type="checkbox"> Publish?
                    </label>
                </div>
                {{#if update}}
                    <div class="checkbox">
                        <label>
                            <input id="updateLastModifiedDate" name="updateLastModifiedDate" type="checkbox"> Update
                            last modified date?
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="saveInHistory" name="saveInHistory" type="checkbox"> Save in history?
                        </label>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            {{#if create}}
                <div class="col col-sm-10 col-sm-offset-2">
                    <a href="#entries" class="btn btn-default">Back</a>
                    <a id="btn-entry-confirm" class="btn btn-primary">Confirm</a>
                </div>
            {{/if}}
            {{#if update}}
                <div class="col col-sm-10 col-sm-offset-2">
                    <a href="#entries/{{entryId}}" class="btn btn-default">Back</a>
                    <a id="btn-entry-confirm" class="btn btn-primary">Confirm</a>
                </div>
            {{/if}}
        </div>
    </fieldset>
</form>