<div class="row">
    <div class="col col-sm-4">
        <div class="form-group">
            <input type="file" multiple>
            <span class="help-block hidden"></span>
        </div>
    </div>
    <div class="col col-sm-8">
        <button class="btn btn-primary">Upload</button>
    </div>
</div>


