<form id="entryForm" class="form-horizontal">
    <fieldset>
        {{#if create}}
            <legend>Create a new entry</legend>
        {{/if}}
        {{#if update}}
            <legend>Update "{{title}}"</legend>
        {{/if}}
        <div class="form-group">
            <label for="title" class="col col-sm-2 control-label">Title:</label>

            <div class="col col-sm-10">
                <input id="title" name="title" class="form-control" type="text" value="">
                <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="categoryString" class="col col-sm-2 control-label">Category:</label>

            <div class="col col-sm-10">
                <input id="categoryString" name="categoryString" class="form-control" type="text" value="">
                <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="contents" class="col col-sm-2 control-label">Contents:</label>

            <div class="col col-sm-10" id="contents-tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contents-tab-contents" data-toggle="tab">Contents</a></li>
                    <li><a href="#contents-tab-preview" data-toggle="tab">Preview</a></li>
                    <li><a href="#contents-tab-fileupload" data-toggle="tab">File upload</a></li>
                    <li><a href="#contents-tab-amazon" data-toggle="tab">Amazon Book Search</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="contents-tab-contents">
                        <div class="wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea name="contents" class="form-control wmd-input" id="wmd-input"
                                      rows="20"></textarea>
                        </div>
                        <span class="help-block hidden"></span>
                    </div>
                    <div class="tab-pane fade" id="contents-tab-preview" style="padding: 10px;">

                    </div>
                    <div class="tab-pane fade" id="contents-tab-fileupload" style="padding: 10px;">

                    </div>
                    <div class="tab-pane fade" id="contents-tab-amazon" style="padding: 10px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="format" class="col col-sm-2 control-label">Format:</label>

            <div class="col col-sm-10">
                <select id="format" name="format" class="form-control">
                    <option value="md">markdown</option>
                    <option value="asciidoc">asciidoc</option>
                    <option value="html">html</option>
                    <option value="rst">rst</option>
                </select>
                <span class="help-block hidden"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="format" class="col col-sm-2 control-label">Options:</label>

            <div class="col col-sm-10">
                <div class="checkbox">
                    <label>
                        <input id="published" name="published" type="checkbox"> Publish?
                    </label>
                </div>
                {{#if update}}
                    <div class="checkbox">
                        <label>
                            <input id="updateLastModifiedDate" name="updateLastModifiedDate" type="checkbox"> Update
                            last modified date?
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="saveInHistory" name="saveInHistory" type="checkbox"> Save in history?
                        </label>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            {{#if create}}
                <div class="col col-sm-10 col-sm-offset-2">
                    <div class="btn-group">
                        <a href="#entries" class="btn btn-default">Back</a>
                        <a id="btn-entry-confirm" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
            {{/if}}
            {{#if update}}
                <div class="col col-sm-10 col-sm-offset-2">
                    <div class="btn-group">
                        <a href="#entries/{{entryId}}" class="btn btn-default">Back</a>
                        <a id="btn-entry-confirm" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
            {{/if}}
        </div>
    </fieldset>
</form>
{{#if update}}
    <h4>Histories</h4>
{{/if}}