<form id="userResource" class="form-horizontal">
    <fieldset>
        <div class="row">
            <div class="col col-sm-12">
                <div class="form-group">
                    <label for="linkName" class="col col-sm-2 control-label">Link name:</label>

                    <div class="col col-sm-10">
                        <input id="linkName" name="linkName" class="form-control" type="text" value="">
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="url" class="col col-sm-2 control-label">URL:</label>

                    <div class="col col-sm-10">
                        <input id="url" name="url" class="form-control" type="url" value="">
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col col-sm-10 col-sm-offset-2">
                <a id="btn-link-clear" class="btn btn-default">Clear</a>
                <a id="btn-link-create" class="btn btn-primary">Create</a>
            </div>
        </div>
        </div>
    </fieldset>
</form>

<table class="table table-striped table-bordered table-condensed editable-table">
    <thead>
    <tr>
        <th>link name</th>
        <th>url</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>