<td>
    {{username}}
</td>
<td>
    <span class="view">{{email}}</span>
    <input name="email" type="email" class="edit form-control">
</td>
<td>
    <span class="view">{{firstName}}</span>
    <input name="firstName" class="edit form-control">
</td>
<td>
    <span class="view">{{lastName}}</span>
    <input name="lastName" class="edit form-control">
</td>