.editable-table tr .edit {
    display: none;
}

.editable-table tr.editing .view {
    display: none;
}

.editable-table tr.editing .edit {
    display: block;
}

ul.autocomplete {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    margin: 0;
    padding: 3px 0;
    z-index: 100;
}

ul.autocomplete li {
    list-style: none;
    margin: 0;
    padding: 5px 7px;
}

ul.autocomplete li.active, ul.autocomplete li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

ul.autocomplete li a {
    color: #3d3d3d;
    text-decoration: none;
}

.dynatable th {
    background: #006a72;
    text-align: center;
}