<h3>APIs</h3>
<table class="table table-bordered table-condensed table-striped">
<tr>
    <th>Resource</th>
    <th>Method</th>
    <th>Path</th>
    <th>Description</th>
    <th>Pageable</th>
    <th>Authenticated</th>
</tr>
<tr>
    <td>Entries</td>
    <td>GET</td>
    <td><code>/api/v1/entries</code></td>
    <td>Get all entries</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td></td>
</tr>
<tr>
    <td>Entries</td>
    <td>GET</td>
    <td><code>/api/v1/entries?keyword={keyword}</code></td>
    <td>Search entries.</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td></td>
</tr>
<tr>
    <td>Entries</td>
    <td>GET</td>
    <td><code>/api/v1/categories/{category}/entries</code></td>
    <td>Get all entries associated with the specified category.</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td></td>
</tr>
<tr>
    <td>Entries</td>
    <td>GET</td>
    <td><code>/api/v1/users/{createdBy}/entries</code></td>
    <td>Get all entries created with the specified user.</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td></td>
</tr>
<tr>
    <td>Entries</td>
    <td>POST</td>
    <td><code>/api/v1/entries</code></td>
    <td>Create a new entry.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Entry</td>
    <td>GET</td>
    <td><code>/api/v1/entries/{entryId}</code></td>
    <td>Get the specified entry.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Entry</td>
    <td>PUT</td>
    <td><code>/api/v1/entries/{entryId}</code></td>
    <td>Update the specified entry.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Entry</td>
    <td>DELETE</td>
    <td><code>/api/v1/entries/{entryId}</code></td>
    <td>Delete the specified entry.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Entry Histories</td>
    <td>GET</td>
    <td><code>/api/v1/entries/{entryId}/histories</code></td>
    <td>Get all entry histories associated with the specified entry.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Categories</td>
    <td>GET</td>
    <td><code>/api/v1/categories</code></td>
    <td>Get all categories.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Categories</td>
    <td>GET</td>
    <td><code>/api/v1/categories?keyword={keyword}</code></td>
    <td>Search categories.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Recently Posts</td>
    <td>GET</td>
    <td><code>/api/v1/recentlyposts</code></td>
    <td>Get entries updated recently.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Users</td>
    <td>GET</td>
    <td><code>/api/v1/users</code></td>
    <td>Get all users.</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Users</td>
    <td>POST</td>
    <td><code>/api/v1/users</code></td>
    <td>Create a new user.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>User</td>
    <td>GET</td>
    <td><code>/api/v1/users/{username}</code></td>
    <td>Get the specified user.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>User</td>
    <td>PUT</td>
    <td><code>/api/v1/users/{username}</code></td>
    <td>Update the specified user.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>User</td>
    <td>DELETE</td>
    <td><code>/api/v1/users/{username}</code></td>
    <td>Delete the specified user.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>User</td>
    <td>GET</td>
    <td><code>/api/v1/users/me</code></td>
    <td>Get login user.<br>(not implemented yet)</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>User</td>
    <td>PUT</td>
    <td><code>/api/v1/users/me</code></td>
    <td>Update login user.<br>(not implemented yet)</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Links</td>
    <td>GET</td>
    <td><code>/api/v1/links</code></td>
    <td>Get all links.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Links</td>
    <td>POST</td>
    <td><code>/api/v1/links</code></td>
    <td>Create a new link.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Link</td>
    <td>GET</td>
    <td><code>/api/v1/links/{url}</code></td>
    <td>Get the specified link.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>Link</td>
    <td>PUT</td>
    <td><code>/api/v1/links/{url}</code></td>
    <td>Update the specified link.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Link</td>
    <td>DELETE</td>
    <td><code>/api/v1/links/{url}</code></td>
    <td>Delete the specified link.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Files</td>
    <td>GET</td>
    <td><code>/api/v1/files</code></td>
    <td>Get all file summaries (not include file contents).</td>
    <td><span class="glyphicon glyphicon-check"></span></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Files</td>
    <td>POST</td>
    <td><code>/api/v1/files</code></td>
    <td>Upload a new file.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>File</td>
    <td>GET</td>
    <td><code>/api/v1/files/{fileId}</code></td>
    <td>Get the specified file.</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>File</td>
    <td>GET</td>
    <td><code>/api/v1/files/{fileId}?attachment</code></td>
    <td>Download the specified file (with prompt).</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>File</td>
    <td>DELETE</td>
    <td><code>/api/v1/files/{fileId}</code></td>
    <td>Delete the specified file.</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Books</td>
    <td>GET</td>
    <td><code>/api/v1/books?title={title}</code></td>
    <td>Search books by the given title using Amazon Product API</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
<tr>
    <td>Books</td>
    <td>GET</td>
    <td><code>/api/v1/books?keyword={keyword}</code></td>
    <td>Search books by the given keyword using Amazon Product API</td>
    <td></td>
    <td><span class="glyphicon glyphicon-check"></span></td>
</tr>
</table>